ul
  li
    a(href='/pages/regionales2021/') Régionales 2021
    ul
      li
        a(href='/pages/regionales2021/intentions') Intentions de vote
      li
        a(href='/pages/regionales2021/sondages') Sondages
  li
    a(href='/pages/presidentielle2022/') Présidentielle 2022
    ul
      li
        a(href="/pages/presidentielle2022/intentions") Intentions de vote
      li
        a(href="/pages/presidentielle2022/sondages") Sondages
  li Méthdologie
    ul
      li
        a Régression locale
